<div class="flex flex-col w-full max-w-[400px] rounded-lg border border-gray-200 gap-3 p-3">
  <div class="product-media w-full h-[300px]" data-product-media></div>
  <div class="product-description w-full flex flex-col gap-3">
    <div data-product-title class="h-4 rounded bg-gray-200"></div>
    <div data-product-price class="h-2 max-w-[60px] rounded bg-gray-200"></div>
    <div data-product-vendor class="h-2 max-w-[120px] rounded bg-gray-200"></div>
  </div>
</div>
