{% doc %}
  @description Simple menu, up to two levels

  @param {object} section - section object
{% enddoc %}
<div class="mobile-menu-drawer bg-(--color-background) w-xs h-[100vh] p-4 shadow-md fixed top-0 z-2 flex flex-col gap-3">
  <div class="text-right">
    <button
      class="close-button"
    >
      {% render 'icon', size: 'md', name: 'close' %}
    </button>
  </div>
  <div class="mobile-menu-wrapper flex flex-col gap-3">
    {% for menu in section.settings.menu.links %}
      <div
        class="relative"
        data-menu-item
        {% if menu.links.size > 0 %}
          data-has-submenu
        {% endif %}
      >
        <a
          href="{{ menu.url }}"
          data-menu-link
        >
          {{- menu.title -}}
        </a>
        {% if menu.links.size > 0 %}
          {% render 'child-mobile-menu', submenu: menu.links %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
