@import "tailwindcss";

@theme {
  --font-base: var(--base-font);
  --font-base-size: var(--base-font-size);
  --font-heading-one: var(--heading-one-font);
  --font-heading-one-style: var(--heading-one-font-style);
  --font-heading-one-weight: var(--heading-one-font-weight);
  --font-heading-one-size: var(--heading-one-font-size);
  --font-heading-one-line-height: var(--heading-one-font-line-height);
  --font-heading-one-family: var(--heading-one-font-family);
  --font-heading-two: var(--heading-two-font);
  --font-heading-two-style: var(--heading-two-font-style);
  --font-heading-two-weight: var(--heading-two-font-weight);
  --font-heading-two-size: var(--heading-two-font-size);
  --font-heading-two-line-height: var(--heading-two-font-line-height);
  --font-heading-two-family: var(--heading-two-font-family);
  --font-heading-three: var(--heading-three-font);
  --font-heading-three-style: var(--heading-three-font-style);
  --font-heading-three-weight: var(--heading-three-font-weight);
  --font-heading-three-line-height: var(--heading-three-font-line-height);
  --font-heading-three-size: var(--heading-three-font-size);
  --font-heading-three-family: var(--heading-three-font-family);
  --color-background: var(--background-color);
  --background-gradient: var(--background-gradient);
  --color-text: var(--text-color);
  --color-button: var(--button-color);
  --color-button-label: var(--button-label-color);
  --color-secondary-button-label: var(--secondary-color-button-label-color);
  --color-shadow: var(--shadow-color);
  --rounded-button: var(--button-border-radius);
  --rounded-input: var(--input-border-radius);
}

@layer base {
  h1 {
    font-style: var(--font-heading-one-style);
    font-weight: var(--font-heading-one-weight);
    font-size: var(--font-heading-one-size);
    line-height: var(--font-heading-one-line-height);
    font-family: var(--font-heading-one-family);
  }
  h2 {
    font-style: var(--font-heading-two-style);
    font-weight: var(--font-heading-two-weight);
    font-size: var(--font-heading-two-size);
    line-height: var(--font-heading-two-line-height);
    font-family: var(--font-heading-two-family);
  }
  h3 {
    font-style: var(--font-heading-three-style);
    font-weight: var(--font-heading-three-weight);
    font-size: var(--font-heading-three-size);
    line-height: var(--font-heading-three-line-height);
    font-family: var(--font-heading-three-family);
  }
  h4 {
    font-style: var(--font-heading-three-style);
    font-weight: var(--font-heading-three-weight);
    font-size: var(--font-heading-three-size);
    line-height: var(--font-heading-three-line-height);
    font-family: var(--font-heading-three-family);
    font-size: var(--font-base-size);
  }
  h5 {
    font: var(--base-font);
  }
  h6 {
    font: var(--base-font);
  }
  input[type="text"],
  select,
  textarea {
    border: 1px solid var(--color-text);
    border-radius: var(--rounded-input);
  }
  input[type="text"]::placeholder {
    color: var(--text-color);
    opacity: 50%;
  }
  button,
  .button,
  input[type="submit"],
  input[type="button"] {
    border-radius: var(--rounded-button);
  }
  button,
  .button,
  input[type="submit"],
  input[type="button"] {
    background: var(--color-button);
    color: var(--color-button-label);
  }
  button,
  .button:not(a),
  input[type="submit"],
  input[type="button"] {
    border: 1px solid var(--color-button);
  }
  button.secondary,
  .button.secondary,
  input.secondary[type="submit"],
  input.secondary[type="button"],
  input[type="text"],
  select,
  .select-button-input:checked + label {
    background: var(--background-color);
    color: var(--secondary-color-button-label);
  }
  button.secondary,
  .button.secondary:not(a),
  input.secondary[type="submit"],
  input.secondary[type="button"],
  input[type="text"],
  .select-button-input:checked + label {
    border: 1px solid var(--text-color);
    border-radius: var(--button-border-radius);
  }

  details.mobile-menu .mobile-menu-drawer {
    right: -100%;
    transition-property: right, content-visibility;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
  }
  details.mobile-menu[open] .mobile-menu-drawer {
    right: 0;
  }

  .mobile-menu-wrapper details summary {
    display: inline-block;
  }
  .mobile-menu-wrapper details[open] summary svg {
    transform: rotate(90deg);
  }

  .mobile-menu-wrapper details {
    overflow: hidden;
  }

  .mobile-menu-wrapper details::details-content {
    block-size: 0;
    transition-property: content-visibility, block-size;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
  }

  .mobile-menu-wrapper details[open]::details-content {
    block-size: auto;
    block-size: calc-size(auto, size);
  }
}
