<div
  data-megamenu-item
  item-tag="{{ block.settings.tag | downcase }}"
  x-show="{{ block.settings.tag | downcase }}"
  x-transition
>
  {% content_for 'blocks' %}
  The contents will show here
</div>

{% schema %}
{
  "name": "Megamenu Item",
  "settings": [
    {
      "type": "text",
      "id": "tag",
      "label": "t:header.megamenu.item.tag",
      "info": "t:header.megamenu.item.tag_info"
    }
  ],
  "blocks": [
    {
      "type": "_megamenu_slider"
    }
  ],
  "presets": [
    {
      "name": "Megamenu Item"
    }
  ]
}
{% endschema %}
