<div class="{{ settings.container_width }} mx-auto flex flex-col gap-3">
  <h2>All Snippets</h2>
  <div class="flex flex-col gap-3">
    <h3>Icons</h3>
    <div class="flex gap-3">
      {% render 'icon', name: 'cart', size: 'lg' %}
      {% render 'icon', name: 'alert', size: 'lg' %}
      {% render 'icon', name: 'menu', size: 'lg' %}
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <h3>Button</h3>
    {% render 'button', button_type: 'button', text: 'This is a regular button' %}
    {% render 'button', button_type: 'url', text: 'This is a link button' %}
  </div>
  <div class="flex flex-col gap-3">
    <h3>Form Elements</h3>
    <leanframe-form>
      <form
        class="flex flex-col gap-3"
      >
        {% render 'text-input', name: 'sample', id: 'sample', placeholder: 'Sample Text Input', required: false %}
        {% liquid
          assign name = 'sample_select'
          assign values = 'Sample Select 1,Sample Select 2,Sample Select 3' | split: ','
          assign ids = 'sample-select-1,sample-select-2,sample-select-3' | split: ','
          assign button_texts = 'Sample Select 1,Sample Select 2,Sample Select 3' | split: ','
        %}
        <div class="flex gap-3">
          {% for formValue in values %}
            {% liquid
              assign value = formValue
              assign id = ids[forloop.index0]
              assign button_text = button_texts[forloop.index0]
              if value == 'Sample Select 1'
                assign checked = true
              else
                assign checked = false
              endif
            %}
            {% render 'select-button', name: name, id: id, value: value, checked: checked, button_text: button_text %}
          {% endfor %}
        </div>
        {% render 'button', button_type: 'submit', text: 'This is a submit button' %}
      </form>
    </leanframe-form>
  </div>
  <div class="flex flex-col gap-3">
    <h3>Card elements</h3>
    <div class="flex gap-3">
      {% if section.settings.product != blank %}
        <simple-card class="block relative">
          {% render 'badge', text: 'Sale' %}
          {% render 'simple-card', product: section.settings.product %}
          {% render 'simple-card', collection: section.settings.collection %}
        </simple-card>
      {% endif %}
      {% if section.settings.product != blank %}
        <product-card class="block relative">
          {% render 'badge', text: 'Low In Stock' %}
          {% render 'product-card', product: section.settings.product %}
        </product-card>
      {% endif %}
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <h3>Product Elements</h3>
    <div>Price: {% render 'price', product: section.settings.product %}</div>
    <div>
      <div>Product Thumbnail:</div>
      {% render 'product-image', product: section.settings.product %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:all_snippets.title",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:all_snippets.product"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:all_snippets.collection"
    }
  ],
  "presets": [
    {
      "name": "t:all_snippets.title"
    }
  ]
}
{% endschema %}
