{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}
<div class="{{ settings.container_width }} mx-auto collection-section">
  <h1>{{ collection.title }}</h1>
  {% render 'collection-loader' %}
</div>

{% schema %}
{
  "name": "t:collection.name",
  "settings": []
}
{% endschema %}
