<div class="collection-grid-wrapper max-w-[90%] lg:{{ settings.container_width }} mx-auto" data-collection-grid>
  <collection-grid
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-{{- section.settings.gap }} lg:grid-cols-{{- section.settings.columns }}"
  >
    {% for product in collection.products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </collection-grid>
</div>
{% schema %}
{
  "name": "t:collection_grid.name",
  "settings": [
    {
      "type": "range",
      "id": "columns",
      "label": "t:collection_grid.desktop_columns",
      "min": 3,
      "max": 10,
      "default": 4
    },
    {
      "type": "select",
      "id": "gap",
      "label": "t:collection_grid.name",
      "options": [
        {
          "value": "2",
          "label": "t:collection_grid.gap.narrow"
        },
        {
          "value": "4",
          "label": "t:collection_grid.gap.medium"
        },
        {
          "value": "6",
          "label": "t:collection_grid.gap.loose"
        }
      ],
      "default": "4"
    }
  ]
}
{% endschema %}
