{% liquid
  assign collection = section.settings.collection
%}
{% if section.settings.title != blank %}
  <div>
    <h2 class="text-center">{{ section.settings.title }}</h2>
  </div>
{% endif %}
{% if section.settings.show_description != true and section.settings.subtitle != blank %}
  <div class="text-center">
    {{ section.settings.subtitle }}
  </div>
{% elsif collection.description != blank %}
  <div class="text-center">
    {{ collection.description }}
  </div>
{% endif %}
{% if collection != blank %}
  <featured-collection class="{{ settings.container_width }} mx-auto grid grid-cols-4 gap-3">
    {% for product in collection.products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </featured-collection>
{% else %}
  {% render 'collection-loader', total_items: 12 %}
{% endif %}
{% schema %}
{
  "name": "t:featured_collection.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:featured_collection.title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:featured_collection.collection"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "t:featured_collection.subtitle"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:featured_collection.show_description",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:featured_collection.name"
    }
  ]
}
{% endschema %}
