<div class="flex flex-col gap-3 place-items-center h-[80vh] w-full relative overflow-hidden">
  <div class="absolute w-full h-full top-0 left-0 object-cover">
    {% if section.settings.image_picker -%}
      {{- section.settings.image | image_url | image_tag: alt: section.settings.image.alt -}}
    {%- else -%}
      <img src width="1200" height="1200" alt="No Image">
    {%- endif %}
  </div>
  <div class="flex flex-col gap-3">
    <h2>{{ section.settings.title }}</h2>
    <div>{{ section.settings.subtitle }}</div>
    <div>
      {% render 'button', button_type: 'url', text: section.settings.button_text, url: section.settings.button_url %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:hero.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:hero.title",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "t:hero.subtitle",
      "default": "<p>Lorem ipsum dolor sit amet</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:hero.image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:hero.button_text",
      "default": "Click Here"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:hero.button_url"
    }
  ],
  "presets": [
    {
      "name": "t:hero.name"
    }
  ]
}
{% endschema %}
