{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<product-section class="product-section flex gap-4">
  <product-media class="animate-pulse">
    
  </product-media>
  <product-details class="animate-pulse flex flex-col gap-3">
    <div data-product-title class="bg-gray-200"></div>
    <div data-product-price class="bg-gray-200"></div>
    <div data-product-vendor class="bg-gray-200"></div>
  </product-details>
</product-section>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
